<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Google_icon</string>
			<key>CFBundleURLName</key>
			<string>com.google.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.340752632787-k9ve84bjg5h7e6ekb3phdp7c0165llfb</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>GIDClientID</key>
	<string>340752632787-k9ve84bjg5h7e6ekb3phdp7c0165llfb.apps.googleusercontent.com</string>
</dict>
</plist>
